<!DOCTYPE HTML>
<html>
<head>
<title>Worok</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
}

.header {
  background-color: #2596be;
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>

<div class="header">
  <h1>Anubhav Bhartiya</h1>
</div>
</head>
</html>
